div.inline-button {
    float:left;
    width:100px;
}
div.inline-fact {
    float:left;
    width:600px
}
div.factoid-carousel {
    width:800px;
}
img.factoid-image {
    width: 500px;
    height: auto;
}
